<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acceuil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>


      <ion-card-title>ENSA FES</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div>
        <ion-img src="{{contact.logo}}" style="width:345px;height:180px"></ion-img>
      </div>

      <ion-list>
        <ion-item>{{contact.name}}</ion-item>
        <ion-item>Email: {{contact.email}}</ion-item>
        <ion-item>Telephone: <strong>{{contact.tel}}</strong> </ion-item>

      </ion-list>

      <div>
        <ion-img [src]="contact.location" style="width:300px;height:200px"></ion-img>
      </div>

    </ion-card-content>

  </ion-card>


</ion-content>
